.form-container {
	background-color: lighten($color: $main-green, $amount: 15);
	width: 75%;
	margin: 5% auto;
	border-radius: 5px;

	@media (max-width: 800px) {
		width: 90%;
	}
}

.form-title {
	font-size: 5rem;
	text-align: center;
	padding-top: 5%;
	color: $complement-green;
}

.form {
	display: flex;
	flex-flow: column;
	width: 25%;
	margin: auto;
	justify-content: center;
	padding-top: 2%;

	@media (max-width: 800px) {
		width: 60%;
	}

	label {
		font-size: 2rem;
	}

	.email {
		height: 3rem;
		border: none;
		border-radius: 5px;
		margin-bottom: 5%;
	}

	.message {
		@extend .email;
		height: 5rem;
	}

	.submit-button {
		width: 50%;
		margin: auto;
		font-size: 2rem;
		border: none;
		border-radius: 10px;
		padding: 2% 0;
		margin-bottom: 25%;

		&:hover {
			background-color: $main-green;
			color: white;
			transition: 0.4s ease-in-out;
		}
	}
}

.success-message {
	font-size: 3rem;
	padding-top: 10%;
	text-align: center;
	color: $complement-green;
}
