.home-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 85vh;

    @media(max-width: 800px) {
        height: 100%;
        margin-top: 10%;
    }

    .home-name {
        padding: 0;
        font-size: 12rem;
        padding-bottom: 5%;
        color: $complement-green;

        @media(max-width: 800px) {
            font-size: 7rem;
            text-align: center;
        }
    }

    .fullstack-dev {
        text-align: center;
        font-size: 4rem;
        padding-bottom: 7%;
        color: $complement-green;
    }

    .Typewriter {
        @extend .fullstack-dev;
        color: #b0a160;
        padding-bottom: 1%;
        font-weight: bold;
        font-size: 4rem;
    }

    .social-icons {
        font-size: 15rem;

        @media(max-width: 800px) {
            font-size: 10rem;
        }

        a {
            text-decoration: none;
            color: $complement-green;

            svg {
                padding: 0 5%;

            }

            &:hover {

                .linkedin {
                    color: $linkedin;
                    transition: 0.4s ease-in-out;
                }

                .github {
                    color: $github;
                    transition: 0.4s ease-in-out;
                }

                .email {
                    color: $email;
                    transition: 0.4s ease-in-out;
                }
            }
        }

    }
}