.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: $main-green;
    border-bottom: 1px solid white;
}

h2 {
    padding-left: 3%;
    font-size: 4rem;
    margin: 1% 0;


    a {
        text-decoration: none;
        color: $off-white;

        &:hover {
            color: $complement-green;
            transition: 0.5s ease-in-out;
        }
    }
}

ul {
    display: flex;

    padding-right: 1%;
    margin: 0;

    li {
        list-style: none;
        padding: 0 3rem;

        a {
            text-decoration: none;
            color: $off-white;
            font-size: 3rem;

            &:hover {
                color: $complement-green;
                transition: 0.5s ease-in-out;
            }

        }
    }
}