.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: $main-green;
    border-bottom: 1px solid white;

    @media(max-width: 800px) {
        display: none;
    }
}

h2 {
    padding-left: 3%;
    font-size: 4rem;
    margin: 1% 0;


    a {
        text-decoration: none;
        color: $off-white;

        &:hover {
            color: $complement-green;
            transition: 0.5s ease-in-out;
        }
    }
}

ul {
    display: flex;

    padding-right: 1%;
    margin: 0;

    li {
        list-style: none;
        padding: 0 3rem;

        a {
            text-decoration: none;
            color: $off-white;
            font-size: 3rem;

            &:hover {
                color: $complement-green;
                transition: 0.5s ease-in-out;
            }

        }
    }
}

.mobile-menu-icon {
    font-size: 4rem;
    margin: 3% 3% 10% 3%;
    color: $complement-green;

    @media(min-width: 800px) {
        display: none;
    }
}

.menu-true {

    ul {
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color: $complement-green;
        height: 100vh;
        padding-top: 40%;


        li {
            margin: 2% 0;

            a {
                color: $main-green;
            }
        }
    }
}

.menu-false {
    display: none;
}

.change-mode__toggle {
    background: papayawhip;
    border-radius: 50px;
    border: 1px solid black;
    height: 20px;
    position: relative;
    width: 40px;
}


.toggle {
    background: #f68819;
    border-radius: 50px;
    height: 18px;
    left: 0;
    position: absolute;
    transition: 0.2s;
    width: 20px;
}

.toggled {
    left: 18px;
}