.projects-container {

    .project {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        color: white;

        @media(max-width: 800px) {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

        }

        img {
            max-width: 75%;
            margin: 5% 0;
            overflow: hidden;
        }

        .info {
            display: flex;
            flex-flow: column nowrap;
            font-size: 1.35rem;
            justify-content: center;
            align-items: flex-start;
            padding: 0 5% 0 1%;

            @media(max-width: 800px) {
                font-size: 1.35rem;
                padding-top: 2%;
            }

            .project-label {
                text-decoration: underline;
            }

            .project-links {
                display: flex;
                width: 45%;
                padding-top: 5%;


                @media(max-width: 800px) {
                    width: 100%;

                }

                button {
                    padding: 0.5rem 2rem;
                    margin: 0 3%;
                    width: 100%;
                    border-radius: 10px;

                    &:hover {
                        transition: 0.3s ease-in-out;
                        background-color: darken($color: lightgrey, $amount: 10);
                    }

                    @media(max-width: 800px) {
                        padding: 1% 1.5%;
                        margin: 3% 3% 7% 3%;
                        background-color: white;
                    }


                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 1.75rem;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}