.projects-container {

    .project {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        color: white;

        @media(max-width: 800px) {
            display: block;
        }

        img {
            max-width: 100%;
            overflow: hidden;
        }

        .info {
            display: flex;
            flex-flow: column nowrap;
            font-size: 2.5rem;
            justify-content: center;
            align-items: flex-start;
            padding-left: 5%;

            @media(max-width: 800px) {
                font-size: 1.5rem;
                padding-top: 2%;
            }

            .project-label {
                text-decoration: underline;
            }

            .project-links {
                display: flex;
                width: 45%;
                padding-top: 5%;


                @media(max-width: 800px) {
                    width: 100%;

                }

                button {
                    padding: 3% 5%;
                    margin: 0 5%;
                    width: 100%;
                    border-radius: 10px;

                    @media(max-width: 800px) {
                        padding: 1% 1.5%;
                        margin: 3% 3% 7% 3%;
                        background-color: white;
                    }


                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}