$main-green: #1c2b28;
$complement-green: #88cec3;
$main-font: 'Roboto Mono';
$off-white: rgb(231, 231, 231);

$react: rgb(45, 180, 221);
$javascript: rgb(221, 198, 23);
$less: rgb(50, 104, 192);
$sass: rgb(185, 76, 131);
$html: rgb(209, 71, 32);
$css: rgb(28, 57, 173);
$git: rgb(25, 139, 25);
$sql: rgb(45, 95, 145);

$linkedin: rgb(19, 92, 158);
$github: rgb(163, 163, 163);
$email: rgb(143, 37, 33);